<h2>Extension Requests</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>EMIs Id</th>
            <th>Customer Id</th>
            <th>Loan Plan Id</th>
            <th>Request Raised On</th>
            <th>ETA Payment Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let request of extensionRequests">
            <td>{{ request.emisId }}</td>
            <td>{{ request.customerId }}</td>
            <td>{{ request.loanPlanId }}</td>
            <td>{{ request.requestRaisedOn }}</td>
            <td>{{ request.etaPaymentDate }}</td>
            <td>
                <button class="btn btn-primary" [routerLink]="['/respond', request.id]">
                    Respond
                </button>
            </td>
        </tr> -->
    </tbody>
</table>