<h2>Extension Requests</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Request Id</th>
            <th>EMIs Id</th>
            <th>Customer Id</th>
            <th>Loan Plan Id</th>
            <!-- <th>Extension Reason Id</th> -->
            <th>Extension Reasons</th>
            <th>Request Raised On</th>
            <th>ETA Payment Date</th>
            <th>Response</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td>{{ request.requestId }}</td>
            <td>{{ request.emisId }}</td>
            <td>{{ request.customerId }}</td>
            <td>{{ request.loanPlanId }}</td>
            <!-- <td>{{ request.id }}</td> -->
            <td>{{ request.reason }}</td>
            <td>{{ request.requestRaisedOn }}</td>
            <td>{{ request.etaPaymentDate }}</td>
            <td>{{ request.requestStatus }}</td>
            <td>
                <button (click)="viewdetails(request.requestId)" class="btn btn-primary">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>