<header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <ul class="navbar-nav">
            <li><a routerLink="newrequest" routerLinkActive="active" class="nav-link">New Extension Request Form</a>
            </li>
            <li><a routerLink="requests" routerLinkActive="active" class="nav-link">Extension Request List</a></li>
            <li><a routerLink="respondextension" routerLinkActive="active" class="nav-link">Respond Extension</a></li>
        </ul>


    </nav>
</header>