h1 {
    text-align: center;
    /* position: fixed; */
}

/* .fixed{
    position: fixed;
    width: 100%;
    transition: 0.2s linear;
    top: 0px;
}
.nofixed{
    position: static;
    transition: 0.2s linear;
    top: -50px;
} */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    z-index: 1;

}